// Mixins
// Center element
@mixin centerVertical {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

// Box shadow
@mixin boxShadow {
	box-shadow: 0px 5.98753px 5.98753px rgba(0, 0, 0, 0.25);
}