// Containers
.container-fluid {
	&--info {
		background-color: $info;
		padding-bottom: 145.85px;
		padding-top: 207px;
	}
}

.container {
	&--white {
		padding-bottom: 107.35px;
		padding-top: 95px;
	}
}