// Accordion
.card {
	border: 0 !important;
	margin-top: 16.47px;
}

.card-header {
	background-color: $warning !important;
	background-image: url('../images/minus.svg');
	background-position: center right 30px;
	background-repeat: no-repeat;
	background-size: 20px;
	border-radius: 0 !important;
	border: 0 !important;

	&.collapsed {
		background-image: url('../images/plus.svg');
	}

	h5 {
		font-weight: 600 !important;
		font-size: 20.9563px !important;
		line-height: 25px !important;
	}

	&:hover {
		cursor: pointer;
	}
}