// Price card
.price-card {
	margin-top: 34.43px;
	max-width: 338.3px;

	&__info-block {
		@include boxShadow;
		text-align: center;

		&--header {
			background-color: white;
			height: 124px;
			font-weight: 600;
			padding-bottom: 40.42px;
			padding-top: 43.41px;

			span {
				margin-right: 20px;
			}
		}

		&--primary {
			background-color: $primary;
			font-size: 20.96px;
			line-height: 25.36px;
			padding: 28.44px 43.41px 14.97px;
		}

		&--secondary {
			background-color: $secondary;
			font-size: 14.97px;
			line-height: 18.12px;
			padding: 16.47px 17.96px 8.92px;
		}

		&--white {
			background-color: white;
			font-size: 14.97px;
			line-height: 18.12px;
			padding: 25.45px 34.43px 11.98px 61.37px;
			text-align: left;
		}
	}
}

#scale {
	.price-card__info-block--primary {
		padding: 104.78px 43.41px 127.24px 43.41px;
	}

	.price-card__info-block--white {
		padding: 25.45px 1.5px 11.98px 34.43px;
	}
}