// Table
table {
	font-size: 20.9563px;

	td {
		border-top: 0 !important;
		border-bottom: 1.49688px solid #CCC7DB;
	}

	.text-field {
		font-size: 14.97px;
	}

	.ellipse {
		border-radius: 50px;
		height: 16px;
		width: 16px;
		margin: 0 auto;

		&--primary {
			background-color: $primary;
		}

		&--warning {
			background-color: $warning;
		}
	}
}